* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url('img/oie_6214141i6b6DyeJ.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}

#header h1 {
    font-size: 60px;
    margin-top: 35px;
    text-align: center;
    color: white;
}

.form-container {
    text-align: center;
    margin-top: 20px;
}

.form-container h2 {
    margin-bottom: 10px;
    color: white;
}

.form-container input,
.form-container textarea {
    align-items: center;
    width: 70%;
    border: 0;
    outline: none;
    background: white;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 18px;
    border-radius: 6px;
}

.error-message {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color: red;
}

form .btn2 {
    cursor: pointer;
    background-color: #fccbf4;
    color: black;
}

#watchlist {
    margin-bottom: 50px;
}

#watchlist h1 {
    margin-top: 40px;
    text-align: center;
    color: white;
}

.animes {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin-top: 20px;
    margin-left: 15%;
}

th,
td {
    text-align: left;
    padding: 8px;
    word-wrap: break-word;
}

th {
    background-color: #fccbf4;
    color: black;
}

tr {
    background-color: white;
}

td span.fa {
    margin-right: 5px;
    cursor: pointer;
}

table td {
    word-wrap: break-word;
}


/* --------- css for small screens ------ */

@media only screen and (max-width:600px) {
    #header-text h1 {
        font-size: 30px;
    }
    .form-container {
        text-align: center;
        margin-top: 45px;
    }
    #addanime,
    .anime-table {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    table {
        width: 100%;
    }
    th,
    td {
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
    }
}